<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="juv" version="1.0.0.6" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.210714.1" targetFramework="native" />
  <package id="Microsoft.Windows.WinMD" version="1.0.210629.2" targetFramework="native" />
</packages>